  </main>
  {{ partial "menu.html" . }}
  <footer class="l-footer">
    {{ partial "link.html" . }}

    <p class="p-copyright">
      {{ with .Site.Copyright | safeHTML }}
        {{ . }}
      {{ else }}
        {{ if .Site.Params.author }}
          {{ if .Site.Params.authorwebsite }}
            <a href="{{ .Site.Params.authorwebsite }}">{{ .Site.Params.author }}</a>
          {{ else }}
            {{ .Site.Params.author }}
          {{ end }}
        {{ end }}
        &nbsp;&bull;&nbsp;
        {{ .Site.LastChange.Format "2019" }}

        {{ if .Site.Title }}
          &nbsp;&bull;&nbsp;
          <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
        {{ end }}
      {{ end }}
    </p>
  </footer>

  {{ with .Site.Params.ga_api_key }}
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-84522060-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-84522060-1');
    </script>
  {{ end }}

  {{- partial "footer_custom.html" . }}
</body>
</html>
