{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL | sanitizeurl }}
<article class="p-article">
  <header>
    <h1>{{ .Title }}</h1>
    <div>
      <div class="c-time">
        {{ i18n "posted"}}
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          {{ .Date.Format "Jan 2, 2006" }}
        </time>
      </div>
      {{ range .Params.tags }}
      <a href="{{ $baseurl }}/tags/{{ . | urlize }}" class="c-tag">{{ . }}</a>
      {{ end }}
    </div>
  </header>
  {{ with .Params.thumbnail }}
    <img src="{{ . }}" alt="thumbnail" class="p-article__thumbnail">
  {{ end }}
  <section id="js-article" class="p-article__body">
    {{ .Content }}
  </section>
  {{ partial "i18nlist.html" . }}
  <div class="ads">
        <script type="text/javascript">
            ( function() {
              if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
              var unit = {"calltype":"async[2]","publisher":"worellana","width":728,"height":90,"sid":"Chitika Default"};
              var placement_id = window.CHITIKA.units.length;
              window.CHITIKA.units.push(unit);
              document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
          }());
          </script>
          <script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
  </div>
  <footer>
    {{ with .Site.Params.disqus }}
    <div id="disqus_thread"></div>
    <script>
    var disqus_shortname = '{{ . }}';
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {{ end }}
    {{ partial "related.html" . }}
    {{ partial "siteinfo.html" . }}
  </footer>
</article>
{{ partial "footer.html" . }}
