{{ partial "header.html" . }}
{{ range $index, $page := (.Paginate (where (where .Data.Pages "Type" "posts") ".Params.hidden" "!=" "true" )).Pages }}
{{ if ne $index 0 }}
{{ end }}
{{ .Render "li" }}
{{ end }}
<div class="ads">
    <script type="text/javascript">
        ( function() {
          if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
          var unit = {"calltype":"async[2]","publisher":"worellana","width":728,"height":90,"sid":"Chitika Default"};
          var placement_id = window.CHITIKA.units.length;
          window.CHITIKA.units.push(unit);
          document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
      }());
      </script>
      <script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
</div>
{{ partial "pagination.html" .Paginator }}
{{ partial "siteinfo.html" . }}
{{ partial "footer.html" . }}
